.mn-date-note-list {
    .mn-date-note-list__header {
        font-weight: normal;
    }
    .mn-date-note-list__dates-list {

        .mn-date-note-list__dates-list-item {
            margin-bottom: 20px;
        }
    }
} 

.mn-date-list-item {
    .mn-date-list-item__date {

    }
    .mn-date-list-item__notes-list {
        margin-top: 10px;
        .mn-date-list-item__notes-list-item {
            padding-top: 10px;
            margin-left: 10px;
            cursor: pointer;

            &:hover {
                background-color: rgba(0,0,0,0.02);
            }
        }
    }
}