.mn-calendar {


     .mn-calendar__title {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: normal;
     }

     .mn-calendar__date-grid-day, .mn-calendar__day-of-week-title {
        text-align: center;
     } 

    .mn-calendar__day-of-week,
    .mn-calendar__date-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      button {
        position: relative;
        border: 0;
        width: 4.5ch;
        height: 4.5ch;
        border-radius: 50%;
        background-color: transparent;
        color: black;
      }
      .mn-calendar__date-grid-day--selected {
          button {
            outline: none;
            background-color: var(--primary-color);
            color: white; 
          }
      }
      button:hover, button:focus {
        outline: none;
        background-color: var(--primary-color);
        color: white;
      }
    }

    .mn-calendar-day  {
        &.mn-calendar-day--has-note {
            &::after {
                content: '';
                height: 7px;
                width: 7px;
                background-color: orange;
                border-radius: 50%;
                display: block;
                margin: auto;
            }
        }
    }
}
