
.mn-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .mn-main__global-notes, .mn-main__date-notes, .mn-main__date-calendar {
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1;
    }

    .mn-main__global-notes {

    }
    .mn-main__date-notes {

    }
    .mn-main__date-calendar {

    }
}